
:root {
    --tan-primary: #887360;
    --blue-secondary: #444a5b;
    --green-tertiary: #4c6b4e;
    --orange-accent: #804615;
    --blue-accent: #162856;
    --green-accent: #116416;
    --tan-text: #ffd1aa;
    --blue-text: #7887ab;
    --green-text: #86c98a;
}

body {
    background-color: var(--blue-text);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background-color: var(--blue-accent);
    color: var(--blue-text);
}

#header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#container {
    width: 40vw;
    height: 20vw;
    background-color: var(--blue-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke
    
}